:root {
  --th-primary-color: #3b82f6;
  --th-primary-hover-color: #2563eb;
  --th-primary-shadow-color: #9dc1fb;
  --th-primary-light-color: rgba(59, 130, 246, 0.04);

  --th-success-color: #22c55e;
  --th-success-hover-color: #16a34a;
  --th-success-shadow-color: #88eaac;
  --th-success-light-color: rgba(34, 197, 94, 0.04);

  --th-info-color: #64748b;
  --th-info-hover-color: #475569;
  --th-info-shadow-color: #b0b9c6;
  --th-info-light-color: rgba(100, 116, 139, 0.04);

  --th-warning-color: #f59e0b;
  --th-warning-hover-color: #d97706;
  --th-warning-shadow-color: #facf85;
  --th-warning-light-color: rgba(245, 158, 11, 0.04);

  --th-danger-color: #ef4444;
  --th-danger-hover-color: #dc2626;
  --th-danger-shadow-color: #f7a2a2;
  --th-danger-light-color: rgba(239, 68, 68, 0.04);

  --th-help-color: #a855f7;
  --th-help-hover-color: #9333ea;
  --th-help-shadow-color: #d4aafb;
  --th-help-light-color: rgba(168, 85, 347, 0.04);

  --th-primary-disable-color: #84adf9;
  --th-success-disable-color: #78d798;
  --th-info-disable-color: #9ba5b3;
  --th-warning-disable-color: #f8be6e;
  --th-danger-disable-color: #f4898a;
  --th-help-disable-color: #c594fa;

  --th-animate-btn-color: #7d2ae8;
}
